*{
    margin: 0;
    padding: 0;
}

header{
width: 482px;
height: 200px;
}

main{
width: 1396px;
height: 426px;
}

.txtBemVindo{
color: #FFF;
background: transparent;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding-left: 40px;
padding-top: 25px;
font-size:64px;
font-style: normal;
font-weight: 400;
line-height: normal;
flex-shrink: 0;
align-items: center;
}


#btnDownloadCV{
width: 120px;
height: 50px;
color: #ffffff;
background: transparent;
backdrop-filter: blur(10px);
margin-left: 125%;
margin-top: 1%;
margin-bottom: 7%;
border: transparent;
border-radius: 10px;
align-items: center;
}



